:root {
    --primary-color: #2C3E50; /* Dark blue-gray */
    --secondary-color: #ECF0F1; /* Light gray */
    --tertiary-color: #E74C3C; /* Red */
    --error-color: #C0392B; /* Dark red */
}

.background {
    background-color: #34495E;;
    margin: 0;
    counter-reset: section;
    font-family: 'Arial', sans-serif;;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px; 
}

.button {
    background-color: var(--tertiary-color);
    border: none;
    color: var(--secondary-color);
    padding: 10px 15px; 
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
}
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}
.card-container {
    display: flex;
    justify-content: flex-start;;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 20px;
    height: auto;
    width : 95%;
}
.weather-card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 20px;
    height: auto;
}

.weather-list {
    list-style-type: none;
    padding: 0;
}

.weather-item {
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    padding: 30px; 
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 15px; 
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}

.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
    
}
.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 20px; 
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.hidden {
    display: none;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    border-bottom: 1px solid var(--primary-color);
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}

li {
    margin-bottom: 15px; 
}
